<p-table #dt [columns]="columnsToDisplay" [value]="tasksUIData" selectionMode="single"
  [(selection)]="selectedTaskUIData" [paginator]="true" [rows]="15" [resizableColumns]="true"
  *ngIf="developers && projects">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn [ngSwitch]="col.field">
        {{col.header}}
        <p-multiSelect *ngSwitchCase="'task.status'" [options]="commonDataComponent.taskStatuses.itemList"
          defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')" appendTo="body"
          [(ngModel)]="statusFilter">
        </p-multiSelect>
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td>
        {{rowData.developerName}}
      </td>
      <td>
        {{rowData.task.name}}
      </td>
      <td>
        {{rowData.task.application}}
      </td>
      <td>
        {{rowData.projectName}}
      </td>

      <td>
        {{rowData.task.start_date | dateFormatPipe }}
      </td>

      <td>
        {{rowData.task.end_date | dateFormatPipe}}
      </td>

      <td>
        {{rowData.task.release}}
      </td>

      <td>
        {{rowData.task.status}}
      </td>
      <td>
        {{rowData.task.comments}}
      </td>
      <td>
        {{rowData.task.send_reminder}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="showAddDialog()" label="Add New"></button>
      <button type="button" pButton icon="pi pi-pencil" (click)="editTask()" label="Edit"></button>
      <button type="button" pButton icon="pi pi-times" class="ui-button-danger" (click)="delete()"
        label="Delete"></button>
    </div>
    <a routerLink="release?release={{releaseParam}}">Release</a>|
    <a [routerLink]="['/tasks']" [queryParams]="{task: 'All'}">All Tasks</a>
  </ng-template>
</p-table>
<div *ngIf="selectedTaskUIData && selectedTaskUIData.task" style="text-align:left">
  {{selectedTaskUIData.task.id}}
</div>
<app-task-dialog #taskDialog [visible]="displayDialog" (displayChange)="hideDialog($event)"
  (dataChangeEvent)='dialogDataChanged($event)' (openDialog)="initDialog($event)">
</app-task-dialog>