<p-contextMenu [model]="menuItems" #tablecontextmenu></p-contextMenu>
<p-table #dt [columns]="columnsToDisplay" [value]="projects" selectionMode="single" [(selection)]="selectedProject"
    [paginator]="true" [rows]="15" [resizableColumns]="true" [contextMenu]="tablecontextmenu"
    [(contextMenuSelection)]="selectedProject" contextMenuSelectionMode="joint">
    <ng-template pTemplate="caption" style="overflow:hidden">
        Projects
        <button pButton type="button" class="clear-button" label="Clear Filters" style="position: absolute; right: 0;"
            (click)="dt.filter('', 'name', 'in'); nameFilter='';
            dt.filter('', 'application', 'in'); appFilter='';
            dt.filter('', 'release', 'in'); releaseFilter='';
            dt.filter('', 'PM', 'in'); PMFilter='';dt.filter('', 'status', 'in'); statusFilter='';"></button>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn [ngSwitch]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'name'" pInputText type="text"
                    (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [(ngModel)]="nameFilter">
                <p-multiSelect *ngSwitchCase="'application'" [options]="commonDataComponent.applications.itemList"
                    defaultLabel="All Apps" (onChange)="dt.filter($event.value, col.field, 'in')" appendTo="body"
                    [(ngModel)]="appFilter">
                </p-multiSelect>
                <p-multiSelect *ngSwitchCase="'release'" [options]="commonDataComponent.releases.itemList"
                    defaultLabel="All Releases" (onChange)="dt.filter($event.value, col.field, 'in')" appendTo="body"
                    [(ngModel)]="releaseFilter">
                </p-multiSelect>
                <p-multiSelect *ngSwitchCase="'PM'" [options]="commonDataComponent.projectManagers.itemList"
                    defaultLabel="All PMs" (onChange)="dt.filter($event.value, col.field, 'in')" appendTo="body"
                    [(ngModel)]="PMFilter">
                </p-multiSelect>
                <p-multiSelect *ngSwitchCase="'status'" [options]="commonDataComponent.projectStatuses.itemList"
                    defaultLabel="All Statuses" (onChange)="dt.filter($event.value, col.field, 'in')" appendTo="body"
                    [(ngModel)]="statusFilter">
                </p-multiSelect>

            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                <span *ngIf='isDate(rowData[col.field]); else elseDateBlock'>
                    {{rowData[col.field] | date:'MM/dd/yyyy' : 'UTC' }}
                </span>
                <ng-template #elseDateBlock>
                    <ng-container *ngIf="col.field == 'name' ;else other_fields">
                        <a [routerLink]="['/tasks']" [queryParams]="{project: rowData[col.field], task: ''}">
                            {{rowData[col.field] }}
                        </a>
                    </ng-container>
                </ng-template>
                <ng-template #other_fields>
                    <span>
                        {{rowData[col.field] }}
                    </span>
                </ng-template>


            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left" *ngIf='user'>
            <button type="button" pButton icon="pi pi-plus" (click)="showAddDialog()" label="Add New"></button>
            <button type="button" pButton icon="pi pi-pencil" (click)="editProject()" label="Edit"></button>
            <button type="button" pButton icon="pi pi-times" class="ui-button-danger" (click)="delete()"
                label="Delete"></button>
        </div>
        <a [routerLink]="['/projects']">Open Projects</a>|
        <a [routerLink]="['/projects']" [queryParams]="{status: 'Closed'}">Closed Projects</a>|
        <a [routerLink]="['/release']" [queryParams]="{release: releaseParam}">Release</a>|
        <button type="button" pButton icon="pi pi-refresh" (click)="refreshProjects()"></button>
    </ng-template>
</p-table>
<div *ngIf="selectedProject" style="text-align:left">
    {{selectedProject.id}}
</div>
<p-dialog header="Project Details" [(visible)]="displayDialog" showEffect="fade" [modal]="true"
    [style]="{width:'500px', height: '500px', 'overflow':'scroll'}" [resizable]="true" [responsive]="true"
    [contentStyle]="{'overflow':'visible'}">
    <form [formGroup]="projectForm" (ngSubmit)="save()">
        <div class="ui-g ui-fluid" *ngIf="newProject">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="Name">*Name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="name" formControlName="name" required="true" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="desc">*Desc</label>
                </div>
                <div class="ui-g-8">
                    <textarea [rows]="3" [cols]="35" pInputTextarea id="desc" formControlName="desc"
                        autoResize="autoResize"></textarea>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="desc">*Application</label>
                </div>
                <div class="ui-g-8 ui-dropdown-item">
                    <p-dropdown [options]="commonDataComponent.applications.itemList" placeholder="Select App"
                        formControlName="application"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="PM">*PM</label>
                </div>
                <div class="ui-g-8 ui-dropdown-item">
                    <p-dropdown [options]="commonDataComponent.projectManagers.itemList" placeholder="Select PM"
                        formControlName="PM">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="brand">*QA Date</label>
                </div>
                <div class="ui-g-8">
                    <p-calendar formControlName="QA_DATE" [showIcon]="true" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="2019:2025"></p-calendar>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="brand">*UAT Date</label>
                </div>
                <div class="ui-g-8">
                    <p-calendar formControlName="UAT_DATE" [showIcon]="true" [showIcon]="true" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="2019:2025"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="PROD_DATE">*PROD Date</label>
                </div>
                <div class="ui-g-8">
                    <p-calendar formControlName="PROD_DATE" [showIcon]="true" [showIcon]="true" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="2019:2025"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="release">*Release</label>
                </div>
                <div class="ui-g-8 ui-dropdown-item">

                    <p-dropdown [options]="commonDataComponent.releases.itemList" placeholder="Select Release"
                        formControlName="release">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="status">*Status</label>
                </div>
                <div class="ui-g-8 ui-dropdown-item">
                    <p-dropdown [options]="commonDataComponent.projectStatuses.itemList" placeholder="Select Status"
                        formControlName="status"></p-dropdown>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix"
                *ngIf="(!selectedProject || selectedProject.status !='Closed') && user">
                <button type="submit" pButton icon="pi pi-check" label="Save" [disabled]="!projectForm.valid"></button>
            </div>
        </p-footer>

    </form>
</p-dialog>