<p-table [columns]="columnsToDisplay" [value]="developers" selectionMode="single" [(selection)]="selectedDeveloper"
    [paginator]="true" [rows]="15" [resizableColumns]="true">
    <ng-template pTemplate="caption">
        Developers
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                <span *ngIf='isDate(rowData[col.field]); else elseDateBlock'>
                    {{rowData[col.field] | date:'MM/dd/yyyy' : 'UTC' }}
                </span>
                <ng-template #elseDateBlock>
                    <span>
                        {{rowData[col.field] }}
                    </span>
                </ng-template>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showAddDialog()" label="Add New"></button>
            <button type="button" pButton icon="pi pi-pencil" (click)="onRowSelect()" label="Edit"></button>
            <button type="button" pButton icon="pi pi-times" class="ui-button-danger" (click)="delete()"
                label="Delete"></button>

        </div>
    </ng-template>
</p-table>
<div *ngIf="selectedDeveloper" style="text-align:left">
    {{selectedDeveloper.id}}
</div>
<p-dialog header="User Details" [(visible)]="displayDialog" showEffect="fade" [modal]="true"
    [style]="{width:'30%', height: '50%'}" [contentStyle]="{'overflow':'visible'}">
    <form [formGroup]="developerForm" (ngSubmit)="save()">
        <div class="ui-g ui-fluid" *ngIf="newDeveloper">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="Type">*Type</label>
                </div>
                <div class="ui-g-8 ui-dropdown-item" ui-dropdown-item>
                    <p-dropdown [options]="commonDataComponent.userTypes.itemList" placeholder="Select Type"
                        formControlName="type">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="Name">*Name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="name" formControlName="name" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="userId">*UserId</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="userId" formControlName="userId" />
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="phone">*Phone</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="phone" formControlName="phone" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="mobile">*Mobile</label>
                </div>
                <div class="ui-g-8 ui-dropdown-item">
                    <input pInputText id="mobile" formControlName="mobile" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="email">*Email</label>
                </div>
                <div class="ui-g-8 ui-dropdown-item">
                    <input pInputText id="email" formControlName="email" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="work_hours">*Work Hours</label>
                </div>
                <div class="ui-g-8 ui-dropdown-item">
                    <input pInputText id="work_hours" formControlName="work_hours" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="status">*Status</label>
                </div>
                <div class="ui-g-8 ui-dropdown-item" ui-dropdown-item>
                    <p-dropdown [options]="commonDataComponent.userStatuses.itemList" placeholder="Select Status"
                        formControlName="status">
                    </p-dropdown>
                </div>
            </div>

        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="submit" pButton icon="fa fa-check" label="Save" [disabled]="!developerForm.valid"
                    *ngIf="isAdmin"></button>
            </div>
        </p-footer>

    </form>
</p-dialog>